<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css', v=1) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/message.css', v=1) }}">
</head>

<body>
    <nav class="navbar">
        <a href="{{ url_for('index') }}" class="logo">Find a Helper</a>
        <ul class="nav-links">
            <li class="nav-item"><a href="{{ url_for('index') }}">Home</a></li>
            <li class="nav-item"><a href="{{ url_for('tasks') }}">Tasks</a></li>
            <li class="nav-item"><a href="{{ url_for('messages') }}">Messages</a></li>
            <li class="nav-item"><a href="{{ url_for('userProfile') }}">User Profile</a></li>
        </ul>
    </nav>

</body>

</html>